@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'Andika';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Andika-Regular.ttf) format('ttf');
  }
  
::selection {
    color: white;
    background-color: #818CF8; 
}
.scrollbar::-webkit-scrollbar {
    width: 6px;
    cursor: pointer;
    height: 6px;
    /*background-color: rgba(229, 231, 235, var(--bg-opacity));*/

}
.scrollbar::-webkit-scrollbar-track {
    background-color: rgba(229, 231, 235, var(--bg-opacity));
    cursor: pointer;
    /*background: red;*/
}
.scrollbar::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: #a0aec0;
}

.scrollbar::-webkit-scrollbar-thumb:horizontal {
    border-radius: 6px 6px 6px 6px; /* Set border radius for left and right corners */
}

.scrollbar::-webkit-scrollbar-thumb:vertical {
    border-radius: 6px 6px 6px 6px; /* Set border radius for left and right corners */
}

.andika-regular {
    font-family: "Andika", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .andika-bold {
    font-family: "Andika", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .andika-regular-italic {
    font-family: "Andika", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .andika-bold-italic {
    font-family: "Andika", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  